.navbar-custom {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky; /* Change from fixed to sticky */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.hero-section {
    height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png') no-repeat center center;
    background-size: cover;
    color: #FFEBD4;
}

.hero-section h1 {
    font-family: 'Handlee', cursive;
}

.hero-section .btn {
    color: #3b2f2f;
}

/* Apply the same font-family to all section headings */
.section-heading {
    font-family: 'Handlee', cursive;
    text-align: left; /* Align headings to the left */
}

/* Ensure hero section heading remains centered */
.hero-section .section-heading {
    text-align: center;
}